<div class="container">
    <h2><u>Greetings</u></h2>

    <form action="/greet" method="POST">
        name
        <input type="text" name="userName" class="nameEntered" placeholder="enter your name">

        <h3>
            <div class="counter">{{count}}</div>
        </h3>

        <br>

        <div class="error">
            <h3>
                {{messages.info}}

            </h3>
        </div>

        <div class="languages">

            <input type="radio" name="languageType" class="languageType" value="English">
            <span class="label-body">English</span>
            <input type="radio" name="languageType" class="languageType" value="Afrikaans">
            <span class="label-body">Afrikaans</span>
            <input type="radio" name="languageType" class="languageType" vamsglue="IsiXhosa">
            <span class="label-body">IsiXhosa</span>
            <br><br>

        </div>
<br>
        <div class="greetBtn">
            <button type="submit">greet</button>

        </div>

    </form>

</div>
<div class="reset">
    <form action="/reset" method="get">

        <button>Reset</button>
    </form>

</div>

<br>


    <div class="msg">{{name}}</div>


<br>

<div>

    <h1>
        <center> <a href="/greeted">Names</a> </center>
    </h1>

</div>